In [1]:
import pandas as pd
import tensorflow as tf,matplotlib.pyplot as plt

In [2]:
df=pd.read_csv(r"train.csv")

In [3]:
height_df = df[df['entity_name'] == 'height']

,image_link,group_id,entity_name,entity_value
536,https://m.media-amazon.com/images/I/610bLFQIS3...,442321,height,95.0 centimetre
1740,https://m.media-amazon.com/images/I/512Bph1Ouu...,507467,height,46.5 millimetre
2306,https://m.media-amazon.com/images/I/61+g4VX7ww...,237000,height,71.0 centimetre
2363,https://m.media-amazon.com/images/I/515cEBwzfo...,245959,height,28.0 centimetre
2667,https://m.media-amazon.com/images/I/51K5y5KflQ...,752266,height,308.0 millimetre
...,...,...,...,...
263854,https://m.media-amazon.com/images/I/612J1R1xHl...,558806,height,5.0 centimetre
263855,https://m.media-amazon.com/images/I/61Blzh2+28...,470067,height,8.5 inch
263856,https://m.media-amazon.com/images/I/51MsegDL9V...,204245,height,43.2 centimetre
263857,https://m.media-amazon.com/images/I/510KhVw4VS...,752266,height,9.1 centimetre
263858,https://m.media-amazon.com/images/I/51lzTNLQ-6...,416664,height,27.5 centimetre

In [1]:
def open_data(df):
    import random
    import webbrowser
    import pandas
    # List of image URLs
    image_links=df["image_link"]
    # Function to open a random image link
    def open_random_image():
        ind=random.randint(0,len(df))
        random_link = image_links[ind]
        webbrowser.open(random_link)
        entity_name=df.iloc[ind]["entity_name"]
        entity_value=df.iloc[ind]["entity_value"]
        print("entity_name: ",entity_name)
        print("entity_value",entity_value)
        # Open random image   
    open_random_image()

In [2]:
open_data(df)

NameError: name 'df' is not defined